.table {
  width: 80%;
  margin: 20px 0 20px 90px;
}
.table tr td {
  padding: 5px;
  font-size: 1.5rem;
  color: #000;
}
.projectImage {
  margin: 30px;
  width: 400px;
  height: 200px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.mainContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectImage:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 10px 10px 10px #7f7f7f90;
}
.table a {
  color: #007bff;
}
.table a:hover {
  color: #007;
}
.box {
}
.textLink {
  margin: 50px 80px;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #000;
}
.textLink:hover {
  color: #007bff;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .chatMain {
    height: auto !important;
  }
  .box {
    width: 350px !important;
    line-height: 10px;
  }
  .box .table {
    width: 100%;
    margin: 0;
  }
}
