.main {
  height: 88vh;
}
@media screen and (max-width: 400px) {
  .main {
    height: auto;
  }
  .frame {
    width: 300px;
    height: 300px;
    margin: auto;
  }
}
@media screen and (max-width: 820px) {
  .main {
    height: auto;
  }
  .frame {
    width: 600px;
    height: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 1700px){
  .main{
    height: 81.7vh;
    margin: 80px 160px 0px;
  }
}